.main__whatsapp {
    background-color: rgb(97, 161, 0);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: white solid 2px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}